#Database and config
*.db

# Environments
*.env
*.venv

# Cache
__pycache__/

# PyCharm Cache
.idea/

# I18n Files 
*.pot
*.po

# Script for i18n
*.bat

# Voice files
*.mp3

# Whisper model
model/

# Info with paths
info.py

